<component name="ArtifactManager">
  <artifact type="war" name="SpringRestDemoService:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringRestDemoService.war">
      <element id="artifact" artifact-name="SpringRestDemoService:war exploded" />
    </root>
  </artifact>
</component>